<div class="container">
  <h1>Privacy Policy</h1>
  <p><strong>Effective Date:</strong> 2022/02/02</p>

  <h2>1. Introduction</h2>
  <p>
    Welcome to ArcadeArc. Your privacy is important to us. This Privacy Policy
    explains how we handle your personal data when you use our instant game
    application.
  </p>

  <h2>2. Data Collection</h2>
  <p>
    We do not collect any personal data from our users. Your privacy is our
    priority, and we ensure that no personal information is gathered, stored, or
    shared.
  </p>

  <h2>3. User Control</h2>
  <p>
    You have full control over your data. You can delete or remove any data
    associated with your use of our application at any time. We provide
    easy-to-use tools within the app to manage your data preferences.
  </p>

  <h2>4. GDPR Compliance</h2>
  <p>
    We are committed to complying with the General Data Protection Regulation
    (GDPR). This means we respect your privacy rights and ensure that your data
    is handled in accordance with GDPR standards.
  </p>

  <h2>5. Data Security</h2>
  <p>
    Even though we do not collect personal data, we implement robust security
    measures to protect any data you choose to share with us. Our security
    practices are designed to safeguard your information from unauthorized
    access and potential threats.
  </p>

  <h2>6. Changes to This Privacy Policy</h2>
  <p>
    We may update this Privacy Policy from time to time. Any changes will be
    posted on this page, and we will notify you of significant changes through
    our app or other communication channels.
  </p>

  <h2>7. Contact Us</h2>
  <p>
    If you have any questions or concerns about this Privacy Policy, please
    contact us at arcadearc&#64;mail.com.
  </p>
</div>
