body {
  background-color: black;
  color: white;
  font-family: "Press Start 2P", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.game-title h1 {
  font-size: 4rem;
  animation: pixelate 1.5s infinite steps(10);
  text-shadow: 0 0 10px #306230, 0 0 20px #306230, 0 0 30px #306230,
    0 0 40px #306230;
}

@keyframes pixelate {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-2px, -2px);
  }
  20% {
    transform: translate(2px, -2px);
  }
  30% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  50% {
    transform: translate(-1px, -1px);
  }
  60% {
    transform: translate(1px, -1px);
  }
  70% {
    transform: translate(-1px, 1px);
  }
  80% {
    transform: translate(1px, 1px);
  }
  90% {
    transform: translate(0, 0);
  }
}
