<div class="container">
  <h1>Data Policy</h1>
  <p><strong>Effective Date:</strong> 2022/02/02</p>

  <h2>1. Introduction</h2>
  <p>
    Welcome to Arcadeace. This Data Policy outlines how we handle your personal
    data in compliance with the General Data Protection Regulation (GDPR).
  </p>

  <h2>2. Data Collection</h2>
  <p>
    We do not collect any personal data from our users. Your privacy is our
    priority, and we ensure that no personal information is gathered, stored, or
    shared.
  </p>

  <h2>3. User Rights</h2>
  <p>Under GDPR, you have the following rights:</p>
  <ul>
    <li>
      <strong>Right to Access:</strong> You can request access to your personal
      data that we hold.
    </li>
    <li>
      <strong>Right to Rectification:</strong> You can request correction of any
      inaccurate or incomplete data.
    </li>
    <li>
      <strong>Right to Erasure:</strong> You can request deletion of your
      personal data.
    </li>
    <li>
      <strong>Right to Restrict Processing:</strong> You can request restriction
      of processing your personal data.
    </li>
    <li>
      <strong>Right to Data Portability:</strong> You can request transfer of
      your data to another service provider.
    </li>
    <li>
      <strong>Right to Object:</strong> You can object to the processing of your
      personal data.
    </li>
  </ul>

  <h2>4. User Control</h2>
  <p>
    You have full control over your data. You can delete or remove any data
    associated with your use of our application at any time. We provide
    easy-to-use tools within the app to manage your data preferences.
  </p>

  <h2>5. Data Security</h2>
  <p>
    We implement robust security measures to protect any data you choose to
    share with us. Our security practices are designed to safeguard your
    information from unauthorized access and potential threats.
  </p>

  <h2>6. Data Retention</h2>
  <p>
    We do not retain any personal data. Any data you choose to share with us can
    be deleted at any time using the tools provided within the app.
  </p>

  <h2>7. Changes to This Data Policy</h2>
  <p>
    We may update this Data Policy from time to time. Any changes will be posted
    on this page, and we will notify you of significant changes through our app
    or other communication channels.
  </p>

  <h2>8. Contact Us</h2>
  <p>
    If you have any questions or concerns about this Data Policy, please contact
    us at arcadeace&#64;mail.com.
  </p>
</div>
